.course-detail {
  margin-left: 5%;
  margin-top: -2%;
  padding: 20px;
}

.card-detail h1 {
  margin-bottom: 10px;
}

.card-detail p {
  margin-bottom: 20px;
}

.card-grid {
  margin-top: 2%;
  margin-left: -2%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
